<div class="footer bg-dark text-light text-center p-3 mt-50">
    <!-- bootstrap@4 -->
    <div class="container" >
        <p>&copy; 2024 Your Company Name. All rights reserved.</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="/privacy" class="text-light">Privacy Policy</a></li>
            <li class="list-inline-item"><a href="/terms" class="text-light">Terms of Service</a></li>
            <li class="list-inline-item"><a href="/contact" class="text-light">Contact Us</a></li>
        </ul>
        <!-- <div>
            <a href="https://facebook.com" class="text-light mx-2"><fa-icon [icon]="['fas', 'coffee']"></fa-icon>
            </a>
            <a href="https://twitter.com" class="text-light mx-2"><i class="fab fa-twitter"></i></a>
            <a href="https://instagram.com" class="text-light mx-2"><i class="fab fa-instagram"></i></a>
        </div> -->
    </div>
</div>